* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

body {
    font-family: 'Indie Flower', cursive;
    background-color: #1b1b1b;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
    color: azure;
}

header p {
    font-size: 20px;
    color: azure;
}

.pads {
    background-color: lightblue;
    width: 100%;
    display: flex;
}

.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background-color: #DC143C
}
.pad2 {
    background-color: #FF7F50;
}
.pad3 {
    background-color: #fd10de;
}
.pad4 {
    background-color: #ADFF2F;
}
.pad5 {
    background-color: #0461ec;
}
.pad6 {
    background-color: #238B57;
}

@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }
    50% {
        bottom: 50%;
        left: 50%
    }
    100% {
        bottom: 0%;
        left: 80%;
    }
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    z-index: -1;
}
